html,body {
	font-family: sans-serif;
	margin: 0;
}
.container, .container-fluid {
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding-right: $gap;
  	padding-left: $gap;
}
.container-fluid {
	max-width: 100%;
}

.row {
  	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  	margin-right: -$gap !important;
  	margin-left: -$gap !important;
}

.col, *[class*="col-"] {
	position: relative;
  	width: 100%;
  	padding-right: $gap;
  	padding-left: $gap;
}
.col {
	flex-grow: 1;
}
.col-auto {
	flex-grow: 0;
}
