html,body {
	font-family: sans-serif;
	margin: 0;
}
.container, .container-fluid {
	max-width: $container-width;
	margin: 0 auto;
	padding: 0 $gap;
	box-sizing: border-box;
}
.container-fluid {
	max-width: 100%;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -$gap !important;
	margin-right: -$gap !important;
}
.col, *[class*="col-"] {
	position: relative;
	padding: 0 $gap;
	box-sizing: border-box;
}
.col {
	flex-grow: 1;
}
.col-auto {
	flex-grow: 0;
}
