@import "vars";
@import "base";
@import "grid";
@import "breakpoints";

@for $i from 1 through $cols {
	.col-#{$i} {
		-ms-flex: 0 0 $i * 100% / $cols;
		flex: 0 0 $i * 100% / $cols;
		max-width: $i * 100% / $cols;
	}
	.offset-#{$i} {
		margin-left: $i * 100% / $cols;
	}
}

@each $suffix, $width in $breakpoints {
	@media screen and (min-width: $width) {
		@for $i from 1 through $cols {
			.col-#{$suffix}-#{$i} {
				-ms-flex: 0 0 $i * 100% / $cols;
				flex: 0 0 $i * 100% / $cols;
				max-width: $i * 100% / $cols;
			}
			.offset-#{$suffix}-#{$i} {
				margin-left: $i * 100% / $cols;
			}
		}
	}
}

